<div id="<%= dom_id area %>">
  <p>
    <strong>Code:</strong>
    <%= area.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= area.name %>
  </p>

  <p>
    <strong>Total shcools:</strong>
    <%= area.total_shcools %>
  </p>

</div>
